---
import { Form } from "./Form/Form";
import logo from "/public/logo.png";
import twitter from "../icons/twitter.svg";
import linkedin from "../icons/linkedin.svg";
import youtube from "../icons/youtube.svg";
import world from "../icons/world.svg";
---

<section class="w-[80%] h-full m-auto flex-col flex" id="contact">
	<article class="w-full flex justify-between flex-wrap gap-5">
		<div class="border-l-4 pl-4 max-w-[75ch]">
			<span class="opacity-60 text-1xl flex items-center gap-1"></span>
			The all in one Esg Platform
			<h5 class="text-2xl font-bold text-pretty flex flex-col opacity-80">
				Contact
				<strong>Get in touch</strong>
				If you have any questions, please contact us
			</h5>
		</div>

		<Form client:visible />
	</article>
	<div
		class="w-full my-5 flex gap-1 lg:justify-between justify-center -z-1 items-center flex-wrap footer">
		<a
			target="_blank"
			href="https://ezestom.github.io/portfolio/"
			class="opacity-60 hover:opacity-100 transition">
			<div class="flex flex-col items-center tracking-tighter">
				<span>Created & Designed by</span>

				<span class="flex items-center gap-1"
					>Eze Stom <img
						class="opacity-70"
						src={world.src}
						alt="world-icon"
					/></span
				>
			</div>
		</a>
		<p
			class="flex items-center flex-col gap-1 opacity-60 text-center tracking-tighter">
			<span class="flex items-center gap-1">
				<img class="w-9" src={logo.src} alt="logo image" /> © 2024 Cacta-Eco.</span
			>

			<span>All rights reserved.</span>
		</p>
		<div class="flex gap-3">
			<a target="_blank" href="https://www.linkedin.com/in/ezequielstom/">
				<img
					class="opacity-60 hover:opacity-100 transition"
					src={twitter.src}
					alt="twitter icon"
				/>
			</a>
			<a target="_blank" href="https://www.linkedin.com/in/ezequielstom/">
				<img
					class="opacity-60 hover:opacity-100 transition"
					src={linkedin.src}
					alt="twitter icon"
				/>
			</a>
			<a target="_blank" href="https://www.youtube.com/@ezequielstom6745">
				<img
					class="opacity-60 hover:opacity-100 transition"
					src={youtube.src}
					alt="twitter icon"
				/>
			</a>
		</div>
	</div>
</section>

<style>
	@media (width < 1200px) {
		section {
			width: 96%;
			margin-bottom: 3rem;
		}
		.footer {
			margin: 0.5rem 0;
			gap: 1rem;
		}
	}
	div {
		border-color: var(--border-line);
		height: auto;
	}
	strong {
		font-size: 3rem;
		background: var(--bg-gradient);
		-webkit-background-clip: text;
		color: transparent;
		line-height: 4rem;
	}
	.footer {
		background: var(--green-50);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid var(--border-line);
		padding: 1rem;
		border-radius: 1rem;
		border-bottom: 1px solid var(--border-line);
	}
</style>
