---
import repeat from "../icons/repeat.svg";
import bar from "../icons/bar.svg";
import contact from "../icons/contact.svg";
import metric from "../icons/metric.svg";
import home from "../icons/home.svg";
import functions from "../icons/functions.svg";
import info from "../icons/info.svg";
---

<ul
	class="w-full fixed flex items-center justify-evenly m-auto z-10 tracking-tighter">
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="link flex items-center justify-center gap-1" href="#home">
			<img src={home.src} alt="home-icon" />Home</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="link flex items-center justify-center gap-1" href="#about">
			<img src={repeat.src} alt="info-icon" />About</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="link flex items-center justify-center gap-1" href="#features">
			<img src={bar.src} alt="bars-icon" />
			Features</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="link flex items-center justify-center gap-1" href="#metrics">
			<img src={metric.src} alt="metrics-icon" />
			Metrics</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a
			class="link flex items-center justify-center gap-1"
			href="#functions">
			<img src={functions.src} alt="functions-icon" />
			App</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a
			class="link flex items-center justify-center gap-1"
			href="#information">
			<img src={info.src} alt="information-icon" />
			Information</a
		>
	</li>
	<li class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="link flex items-center justify-center gap-1" href="#contact">
			<img src={contact.src} alt="contact" />
			Contact Us</a
		>
	</li>
</ul>

<style>
	ul {
		z-index: 20;
		height: 3rem;
		margin: auto;
		left: 0;
		right: 0;
		/* header scroll animation  with css  */
		will-change: filter;
		transition: filter 300ms;
		animation: enhance-header linear both;
		animation-timeline: scroll(root);
		animation-range: 0 100px;
	}
	li:hover {
		transform: translate(0, -0.1rem);
	}
	li:active,
	a > img:active {
		color: #63e;
		opacity: 1;
	}

	@keyframes enhance-header {
		to {
			background: radial-gradient(
				125% 125% at 50% 10%,
				#fff 00%,
				#63e 300%
			);
		}
	}
	@media (width < 1200px) {
		ul {
			bottom: 0;
		}
		li > a {
			flex-direction: column;
			gap: 0;
			font-size: 0.75rem;
			padding: 0.5rem 0;
			text-align: center;
			line-height: normal;
			align-items: center;
			justify-content: start;
		}
	}
</style>
