---
import { Image } from "astro:assets";
import repeat from "../icons/repeat.svg";
import bar from "../icons/bar.svg";
import contact from "../icons/contact.svg";
import metric from "../icons/metric.svg";
import home from "../icons/home.svg";
---

<script>
	const scrollSmooth = (e: any) => {
		e.preventDefault();
		const target = e.currentTarget.getAttribute("href");
		const targetElement = document.querySelector(target);
		if (targetElement) {
			targetElement.scrollIntoView({
				behavior: "smooth",
			});
		}
	};

	document.addEventListener("DOMContentLoaded", () => {
		const links = document.querySelectorAll('a[href^="#"]');
		links.forEach((link) => {
			link.addEventListener("click", scrollSmooth);
		});
	});
</script>

<ul
	class="w-full fixed flex items-center justify-evenly m-auto z-10 tracking-tighter"
	id="top">
	<li
		class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="flex items-center justify-center gap-1" href="#top">
			<Image src={home} alt="home-icon" />Home</a
		>
	</li>
	<li
		class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="flex items-center justify-center gap-1" href="#about">
			<Image src={repeat} alt="info-icon" />About</a
		>
	</li>
	<li
		class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="flex items-center justify-center gap-1" href="#features">
			<Image src={bar} alt="bars-icon" />
			Features</a
		>
	</li>
	<li
		class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="flex items-center justify-center gap-1" href="#metrics">
			<Image src={metric} alt="metrics-icon" />
			Metrics</a
		>
	</li>
	<li
		class="decoration-none text-1xl font-bold p-2 opacity-50 transition">
		<a class="flex items-center justify-center gap-1" href="#contact">
			<Image src={contact} alt="contact" />
			Contact Us</a
		>
	</li>
</ul>

<style>
	ul {
		height: 3rem;
		margin: auto;
		left: 0;
		right: 0;
		/* header scroll animation  with css  */
		will-change: filter;
		transition: filter 300ms;
		animation: enhance-header linear both;
		animation-timeline: scroll(root);
		animation-range: 0 100px;
	}
	li:hover {
		opacity: 1;
	}
	ul > li:active {
		color: #63e;
		opacity: 1;
	}
	@keyframes enhance-header {
		to {
			background: radial-gradient(
				125% 125% at 50% 10%,
				#fff 00%,
				#63e 400%
			);
		}
	}
</style>
